{% for paquetDe3voyages in pagination|batch('3') %}
    <div class="row">
        {%  for voyage in paquetDe3voyages %}
            <div class="divimg">
                <div class="card">
                    {#<img class="card-img-top" src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="{{ product.name }}" />#}
                    <img class="card-img-top" src="{{ asset('img/voyage/'~voyage.imageName) }}" alt="{{ voyage.imageName }}">
                    <div class="card-body">
                        <h4 class="card-title">
                            {{ voyage.name }}
                        </h4>
                        <p class="card-text">
                            <a href="{{ path('app_voyage_show', {id: voyage.id}) }}" class="btn btn-outline-info">Détail</a>

                            {% if is_granted('ROLE_USER') %}
                            <a href="{{ path('app_voyage_edit', {id: voyage.id}) }}" class="btn btn-outline-warning">Modifier</a>
                            <a href="{{ path('app_voyage_delete', {id: voyage.id}) }}" class="btn btn-outline-danger">Supprimer</a>
                            {% endif %}

                            <a href="{#{ path('', {id: voyage.id}) }#}" class="btn btn-outline-info">Commentez-vous</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}