<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_home_homepage') }}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_voyage_add') }}">Ajouter</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('app_category_add') }}">Action</a>
                    <a class="dropdown-item" href="{{ path('app_tag_add') }}">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="{{ path('app_category_add') }}">Ajourter category</a>
            </li>
			<li class="nav-item">
                <a class="nav-link disabled" href="{{ path('app_tag_add') }}">Ajourter Tag</a>
            </li>
        </ul>

        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                Connecté en tant que {{  app.user.username }} |
                <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">Connexion</a>
            {% endif %}
        </div>

    </div>
</nav>