{% extends 'base.html.twig' %}

{% block body %}
    <main class="container">
        <h1>Les guides de voyage</h1>

        {% for paquetDe3voyages in voyages|batch('3') %}
        <div class="row">

            {%  for voyage in paquetDe3voyages %}
                <div class="card col">
                    <div class="card-body">
                        <h4 class="card-title">
                            {{ voyage.name }}
                        </h4>
                        <p class="card-text">{{ voyage.description }}</p>
                        <p class="card-text">
                            <a href="{{ path('app_voyage_show', {id: voyage.id}) }}" class="btn btn-outline-info">Détail</a>
                            <a href="{{ path('app_voyage_edit', {id: voyage.id}) }}" class="btn btn-outline-warning">Modifier</a>
                            <a href="{{ path('app_voyage_delete', {id: voyage.id}) }}" class="btn btn-outline-danger">Supprimer</a>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </main>
{% endblock %}